body {
	padding: 0;
	padding-bottom: 20px;
	margin: 0;
}
.container {
	margin-top: 100px;
}
.header-container {
	padding: 10px 20px;

}
#pagination_container {
	text-align: center;
}

.pagination {
	display: inline-block;
}

.pagination span: hover {
	cursor: pointer !important;
}

.pagination .prev,
.pagination .next {
	/*padding: 1px 15px 5px 15px;*/
	padding-top: 0;
	padding-bottom: 4px;
	font-size: 20px;
}

.posts {
	padding-top: 50px;
}
.post {
	padding: 10px;
	padding-bottom: 20px;
	border-radius: 4px;
	background: #FFF;
	-webkit-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}

.post:hover {
	background: #D8E4E6;	
}
.single-post {
	padding: 10px;
	padding-bottom: 20px;
	margin-top: 50px;	
	border-radius: 4px;
	background: #D8E4E6;
}
.timeago {
	font-size: 12px;
	vertical-align: -10px;
	padding-right: 10px;
}
.topic {
	padding-left: 10px;
}
.post .post-body {
	/*max-height: 150px;*/
	display: hidden;
}
.info-tags-row {
	padding: 0 10px;
}
.post .post-info-wrap,
.single-post .post-info-wrap {
	padding-left: 10px;
	display: inline-block;
}
.post .post-user-image,
.single-post .post-user-image {
	display: inline-block;
	vertical-align: top;
}
.post .post-user-name,
.single-post .post-user-name {
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 5px;
	margin-bottom: 0;
}
.post .post-tag,
.single-post .post-tag {
	padding: 5px 10px;
	margin-right: 5px;
	padding-left: 5px;	
}
.post .post-tags-wrapper,
.single-post .post-tags-wrapper {
	width: 50%;
	padding-top: 15px;
	margin-right: 10px;
	text-align: right;
}
.post .post-image-info-wrap,
.single-post .post-image-info-wrap {
	width: 30%;
}
.pagination {
	margin-top: 40px;
}
.pagination .next {
	margin-left: 30px;
}

#working-dialog .modal-body,
#working-dialog .modal-header {
	text-align: center;
}
#working-dialog .modal-body img {
	margin-bottom: 20px;
	max-height: 50px;
	max-width: 50px;
}
#working-dialog .modal-body p {	
	font-size: 12px;
}
.popover-content {
	font-size: 12px;
	letter-spacing: 0;
	line-height: 16px;
}
.popover-title {
	font-weight: bold;
	text-transform: uppercase;
}
footer {
	border-top: 1px solid #CCC;
	padding-top: 10px;
	margin-top: 30px;
	text-align: center;
	font-size: 12px;
}
footer p {
	padding: 0;
	margin: 0;	
}

.post h4,
.single-post h4 {
	display: inline-block;
}
.single-post h4 {
	width: 85%;
}
.single-post .post-actions {
	display: inline-block;
	float: right;
	text-align: right;
	margin-top: 5px;
	margin-right: 20px;
	font-size: 12px;
}
span.post-action {
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	-webkit-transition: background-color 250ms linear;
	-moz-transition: background-color 250ms linear;
	-o-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}
span.post-action-edit:hover {
	background: #F89406;
}
span.post-action-delete:hover {
	background: #B94A48;
}
.post-delete-alert {
	text-align: center;
	margin-top: 20px;
}
.post-delete-alert .alert-buttons {
	margin-top: 20px;
}
img.main-loader {
	margin: 30px;	
}
.new-post-footer {
	margin-top: 30px;
	margin-bottom: 60px;
}
.new-post-buttons button {
	margin-left : 5px;
}
#post_content {
	width: 100%; 
	min-height: 250px; 
	resize: vertical; 
	padding: 10px
}
#post_title {
	width: 100%; 
	padding: 10px
}
#post_tags {
	padding: 6px;
}
div.navbar-inner {
	height: 60px;
}
#new_post_btn {
	padding-bottom: 8px;
}

#logout_btn {
	padding-bottom: 8px;
}

#new_post_btn > i.icon-pencil {
	margin-top: 4px;
	margin-right: 5px;	
}

#logout_btn > i.icon-remove-circle {
	margin-top: 4px;
	margin-right: 5px;	
}

.new-post-attachment {	
	margin-left: 30px;
}
.new-post-attachment .btn {
	width: 175px;	
}
#post_add {
	margin-top: 40px;
}
.post-tag > i {	
	margin-right : 5px;
	cursor: pointer;
}
.tag-row {
	margin-left: 0px;
}
.tag-row > .post-tag {
	vertical-align: top;
	padding: 10px;
	margin-right: 5px;
}
.tag-body > .edit-tag {
	text-align: right;
	font-size: 12px;
}
.post-preview-well {
	margin: 0;
	padding: 15px;
}
