<div id="post_add">
	<div class="row">		

	 	<button class="btn btn-primary pull-right header-btn" style="margin-left: 10px;" id="markup" title="Markdown Cheat Sheet" data-content="# Level 1 Header (H1) <br/># x N Level N Header (HN)<br/>Line break: 2 or more spaces. <br/> * Asterisks for Lists <br/> 1. Numbers for Ordered Lists <br/> Term : Definition <br/>_italics_ <br/> __bold__<br/>[link name](http://google.com)<br/>Indent with four spaces is a code block<br/>Draw tables with hyphens and bars<br/> ``` for code wells as well" pop-over-bottom>
                	<i class="icon-question-sign icon-white"></i>
		</button>

		<br/>
		<br/>

		<input type="text" id="post_title" placeholder="Post Title" ng-model="post.topic" />


		<textarea id="post_content" class="field span12" placeholder="Insert your content here" ng-model="post.body" ></textarea>
		<div class="row tag-row">
			<span ng-repeat="tag in post.tags" class="label label-success post-tag">				
				{{ tag.name }}
				<i title="Remove tag" class="icon-remove icon-white" ng-click="removeTag(tag.name)"></i>
			</span>				
			<input type="text" id="post_tags" placeholder="Tags" ng-model="currentTag" tag-input="currentTag" auto-complete/>


		</div>
	</div>
	<div class="row new-post-footer">
		<div id="attachment-listings" ng-show="post.attachments.length">
			<h5 class="attachments-header"> Attachments </h5>
			<div class="single-attachment-listing" ng-repeat="att in post.attachments">
				<a href="javascript:void()" ng-click="deleteAttachment(att.id)"><i class="icon-trash"></i></a>
				<a href="http://assets.projectwhatup.us?location={{att.location}}" target="_blank">{{ att.name }}</a>
			</div>
		</div>		
		<div class="pull-left new-post-attachment">			
			<a href="#fileUpload" class="btn" data-toggle="modal"> 
				<i class="icon-hdd"></i>
				Add attachment
			</a>			
		</div>
		<div class="pull-right">			
			<div class="button_containter pull-right new-post-buttons">
				<button class="btn btn-primary" id="post_add_submit" ng-click="submit()">Submit</button>	
				<button class="btn btn-primary" id="post_add_cancel" ng-click="cancel()">Cancel</button>	
			</div>			
		</div>
	</div>
	<div class="row new-post-preview" ng-show="post.body">
		<h4> Preview </h4>
		<div class="span12 well post-preview-well" ng-bind-html="postBodyAsHtml()" >
		</div>
	</div>
</div>
<div id="fileUpload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fileUploadLabel" aria-hidden="true">
	<div class="modal-header file-upload-modal">
		<span class="btn btn-warning file-input-close" data-dismiss="modal">
			<i class="icon-ok icon-white"></i>
			<span>Done</span>
		</span>
		<h3>Add Attachments</h3>		
	</div>	
	<div class="modal-body attachment-modal-body">
		<form id="attachment" method="post" ng-hide="fileUpload.uploading">
			<span class="btn btn-success fileinput-button attachment-button">
                <i class="icon-plus icon-white"></i>
                <span>Add File</span>
                <input id="attachments-files" type="file" name="file" attachment-watch="#file-listings">
            </span>
		</form>
		<div class="progress" ng-show="fileUpload.uploading" >
		  <div class="bar" style="width: {{ fileUpload.progress }}%;"></div>
		</div>
		<div style="height: 1px; background-color: rgb(202, 201, 201); text-align: center; margin: 7px 0;">
			<span style="background-color: white; position: relative; top: -0.7em;padding: 0 10px; font-weight: bold">
				OR
			</span>
		</div>
		<div class="link-attachment-container">
			<div class="link-attachment-container-input" ng-hide="linkUpload.uploading">
				<input type="text" id="link-attachment" ng-model="linkUpload.link"/>
				<br />
				<span class="btn btn-success attachment-button" ng-click="attachLink()">
		            <i class="icon-plus icon-white"></i>
		            <span>Add Link</span>            
		        </span>
	    	</div>
	    	<div class="link-attachment-container-progress" ng-show="linkUpload.uploading">
	    		<span>Uploading...</span>
	    	</div>
    	</div>    	
	</div>
	<div class="attachment-result-container">
		<div class="attachment-result attachment-result-success">
			Attachment added successfully
		</div>
		<div class="attachment-result attachment-result-error">
			Error uploading attachment
		</div>
	</div>
</div>
<div ng-include="'partials/working_dialog.html'"></div>
