<div id="post_add">
	<div class="row">		
		<input type="text" id="post_title" placeholder="Post Title" ng-model="post.topic" />
		<textarea id="post_content" class="field span12" placeholder="Insert your content here" ng-model="post.body" ></textarea>
		<div class="row tag-row">
			<span ng-repeat="tag in post.tags" class="label label-success post-tag">				
				{{ tag.name }}
				<i title="Remove tag" class="icon-remove icon-white" ng-click="removeTag(tag.name)"></i>
			</span>				
			<input type="text" id="post_tags" placeholder="Tags" ng-model="currentTag" tag-input="currentTag" auto-complete/>
		</div>
	</div>
	<div class="row new-post-footer">
		<div id="attachment-listings" ng-show="post.attachments.length">
			<h5 class="attachments-header"> Attachments </h5>
			<div class="single-attachment-listing" ng-repeat="att in post.attachments">
				<a href="javascript:void()" ng-click="deleteAttachment(att.id)"><i class="icon-trash"></i></a>
				<a href="#" target="_blank">{{ att.name }}</a>
			</div>
		</div>		
		<div class="pull-left new-post-attachment">
			<div class="btn-group dropup">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-folder-open"></i>
					Add attachments
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>						
						<a href="#fileUpload" role="button" data-toggle="modal"> 
							<i class="icon-hdd"></i>
							Upload from computer
						</a>
					</li>
					<li>						
						<a href="#"> 
							<i class="icon-globe"></i>
							Upload from URL
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="pull-right">			
			<div class="button_containter pull-right new-post-buttons">
				<button class="btn btn-primary" id="post_add_submit" ng-click="submit()">Submit</button>	
				<button class="btn btn-primary" id="post_add_cancel" ng-click="cancel()">Cancel</button>	
			</div>			
		</div>
	</div>
	<div class="row new-post-preview" ng-show="post.body">
		<h4> Preview </h4>
		<div class="span12 well post-preview-well" ng-bind-html="postBodyAsHtml()" >
		</div>
	</div>
</div>
<div id="fileUpload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fileUploadLabel" aria-hidden="true">
	<div class="modal-header file-upload-modal">
		<span class="btn btn-warning file-input-close" data-dismiss="modal">
			<i class="icon-ok icon-white"></i>
			<span>Done</span>
		</span>
		<h3>Add Attachments</h3>
		<form id="attachment" method="post">
			<span class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>Add files...</span>
                <input id="attachments-files" type="file" name="file" attachment-watch="#file-listings">
            </span>
		</form>
	</div>	
	<div class="modal-body">
		<div id="file-listings">
			<div id="single-listing" ng-repeat="file in attachments.files">
				<span class="filename">{{ file.filename }}</span>
				<div class="progress" ng-hide="file.uploaded" >
				  <div class="bar" style="width: {{ file.progress }}%;"></div>
				</div>
				<div class="attachment-actions" ng-show="file.uploaded" >
					<a class="btn btn-danger" ng-click="deleteFileAttachment(file.id)"><i class="icon-ban-circle icon-white"></i>Delete</a>
					<a class="btn btn-info" href="http://assets.projectwhatup.us?id={{file.id}}&name={{file.response.name}}" target="_blank"><i class="icon-download icon-white"></i>Download</a>
				</div>
			</div>			
		</div>
	</div>
</div>
<div ng-include="'partials/working_dialog.html'"></div>