<div id="post_add">
	<div class="row">
		<h3>Create a New Post</h3>		
		<input type="text" id="post_title" placeholder="Post Title" ng-model="post.topic" />
		<textarea id="post_content" class="field span12" placeholder="Insert your content here" ng-model="post.body" ></textarea>
		<input type="text" id="post_tags" placeholder="Tags" value="" ng-model="post.tags" />
	</div>
	<div class="row new-post-footer">
		<div class="pull-left">
			<select id="new-post-user" ng-model="post.user_id" >
				<option ng-repeat="user in users" value="{{ user.id }}">@{{ user.alias }}</option>				
			</select>
		</div>   
		<div class="pull-left new-post-attachment">
			<div class="btn-group dropup">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-folder-open"></i>
					Add attachments
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>						
						<a href="#"> 
							<i class="icon-hdd"></i>
							Upload from computer
						</a>
					</li>
					<li>						
						<a href="#"> 
							<i class="icon-globe"></i>
							Upload from URL
						</a>
					</li>
				</ul>
			</div>
		</div>   
		<div class="pull-right">			
			<div class="button_containter pull-right new-post-buttons">
				<button class="btn btn-primary" id="post_add_submit" ng-click="submit()">Submit</button>	
				<button class="btn btn-primary" id="post_add_cancel" ng-click="cancel()">Cancel</button>	
			</div>			
		</div>
	</div>
</div>
<div id="working-dialog" class="modal hide fade">
	<div class="modal-header">			
		<h4>{{ modal.header }}</h4>
	</div>
	<div class="modal-body">
		<img ng-src="{{ modal.image }}" />
		<p><strong>{{ modal.body }}</strong></p>
	</div>		
</div>