
<div class="subscription-center">
	<div class="subscription-inner">
		<div id="subscription_dialog">
			<h4>User</h4>	
			<div class="row tag-row">
				<input type="text" placeholder="User" ng-model="sub.subscribee.alias" tag-input input-role="subUser" auto-complete-users/>
			</div>
			<h4>Tags</h4>
			<div class="row tag-row">
				<span ng-repeat="tag in sub.tags" class="label label-success post-tag">				
					{{ tag.name }}
					<i title="Remove tag" class="icon-remove icon-white" ng-click="removeTag(tag.name)"></i>
				</span>				
				<br ng-show="sub.tags.length"/>
				<br ng-show="sub.tags.length"/>
				<input type="text" id="post_tags" placeholder="Tags" ng-model="currentTag" tag-input input-role="currentTag" auto-complete/>
			</div>
			<div id="clearfix"></div>
				<div class="button_containter new-post-buttons">
					<button class="btn btn-primary" id="post_add_submit" ng-click="save()">Save</button>	
					<button class="btn btn-primary" id="post_add_cancel" ng-click="cancel()">Cancel</button>	
				</div>			
		</div>
	</div>
</div>

<h4 class="sub-header"> Your subscriptions </h5>
<div class="subscription-break">
</div>

<div class="row tag-row no-subscriptions-msg" ng-hide="subscriptions.objects.length">You have no subscriptions added.</div>
<div class="row tag-row subscription-tags" ng-repeat="subscription in subscriptions.objects">
	<button class="btn btn-primary pull-right header-btn" style="margin-left: 10px;" id="delete_sub" title="Remove Subscription" ng-click="deleteSub(subscription)">
		<i class="icon-trash icon-white"></i>
	</button>
	<button class="btn btn-primary pull-right header-btn" style="margin-left: 10px;" id="edit_sub" title="Edit Subscription" ng-click="editSub(subscription)">
		<i class="icon-edit icon-white"></i>
	</button>
	<span class="label label-warning post-tag" ng-show="subscription.subscribee.alias">@{{subscription.subscribee.alias}}</span>
	<div class="subscription-user" ng-show="subscription.subscribee.alias"></div>
	<span class="label label-success post-tag" ng-repeat="tag in subscription.tags">{{tag.name}}</span>
</div>