<div class="single-post">
	<div class="row-fluid topic">
		<h4>{{ post.topic }}</h4>
		<span class="post-actions">
			<a href="#/posts/edit/{{ post.id }}" class="label label-inverse post-action post-action-edit" title="Edit this post">
				<i class="icon-edit icon-white"></i>
			</a>
			<span ng-click="deletePost()" class="label label-inverse post-action post-action-delete" title="Delete this post">
				<i class="icon-trash icon-white"></i>
			</span>
		</span>
	</div>
	<div class="clearfix"></div>
	<div class="row-fluid">
		<div class="span12 well post-body" ng-bind-html="postBodyAsHtml()" >			
		</div>	
	</div>

	<div class="row-fluid info-tags-row">
		<div class="span3 post-image-info-wrap">
			<img src="http://placehold.it/80" class="post-user-image" />
			<div class="post-info-wrap">
				<p class="post-info post-user-name">
					<a href="#">@{{ post.author.name }}</a>
				</p>
				<p class="post-info post-user-time timeago" title="{{ created_at }}">
					{{ post.created_at }}
				</p>
			</div>
		</div>	 
		<div class="span3 post-tags-wrapper pull-right">			
			<a ng-repeat="tag in post.tags" href="#" class="label label-info post-tag" data-id="{{ tag.id }}" data-content="{{ tag.summary }}" data-title="{{ tag.name }}" rel="popover" data-placement="top" >
				<i class="icon-tag icon-white"></i>	
				{{ tag.name }}
			</a>			
		</div>	
	</div>
	<div class="row view-post-footer" ng-show="post.attachments.length">
		<h5 class="attachments-header"> Attachments </h5>
		<div id="attachment-listings">
			<div class="single-attachment-listing" ng-repeat="att in post.attachments">				
				<a href="#" target="_blank">{{ att.name }}</a>
			</div>
		</div>
	</div>
</div>

<div ng-include="'partials/working_dialog.html'"></div>